<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>{{country}}</title>
</head>

<body>
    <div id="charts" style="width: 100vw">
        <canvas id="chart"> </canvas>
        <h3> {{country}} </h3>
    </div>


    <script>
        var ctx = document.getElementById('chart').getContext('2d');
        ctx.canvas.width = 300;
        ctx.canvas.height = 300;

        var x = [];
        var y = [];

        {% for key, value in confirmedCases.items() %}
            
            x.push(`{{ key }}`);
            y.push({{ value }});

        {% endfor %}

        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                datasets: [{
                    label: 'Daily cases',
                    data: y,
                    backgroundColor: ['#ff0000', '#00ff00']
                }],
                labels: x,
                borderWidth: 1
            },
            options: {
                responsive: true,
                maintainAspectRatio: false
            }
        })
    </script>
</body>

</html>